/* RESET */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* MAIN */

main {
    width: 100%;
    background-color: black;
}

main section:first-child {
    width: 100%;
    text-align: right;
}

main section:first-child>button {
    padding: 5px;
    border-radius: 5px;
    background-color: #4A4A4A;
    color: white;
}

main section:nth-of-type(2) {
    width: 80%;
    height: calc(100vh - 120px);
    margin: auto;
    overflow: auto;
    padding-top: 30px;
}

main .name-user {
    color: white;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
}

/* dimensioni foto */

.container-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -5px;
    margin-bottom: -5px;
}

.container-photos .photo {
    width: 250px;
    margin: 5px 0;
    position: relative;
}

.container-photos .photo>img {
    width: 100%;
    display: block;
}

/* FOOTER */

footer {
    background-color: #222222;
}

footer>section {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer>section div {
    color: white;
}

footer>section>div>div>* {
    display: inline-block;
    margin-left: 15px;
}

footer>section>div>* {
    display: inline-block;
}

footer .size-icon-up {
    font-size: 30px;
}

footer .vertical-align {
    vertical-align: middle;
    text-align: center;
}

br+span {
    display: inline-block;
    margin-top: 10px;
}

.green-special {
    color: green;
}

footer>section>div:last-child {
    color: red;
    height: 100%;
    background-color: #4A4A4A;
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
}